{% raw %}
<script id="listing-template" type="text/x-handlebars-template">
    {{#each children}}
    <li class="listing__item media" data-name="{{this.data.name}}">
    <img class="media__img listing__item__thumbnail" src="{{this.data.thumbnail}}" />
    <p class="media__body">
        <a href="{{this.data.url}}" class="internal listing__item__link">
            {{this.data.title}}
        </a>
        <small>
            <a href="{{this.data.url}}" target="_blank" title="open in new tab">
                ({{this.data.domain}})
            </a>
        </small>
        <br />
        <small>
            <b>{{this.data.author}}</b> posted this
            {{date this.data.created_utc}},
            <b>{{this.data.score}}</b> Points,
            <a href="http://reddit.com{{this.data.permalink}}" class="internal">{{this.data.num_comments}}</a> Comments
        </small>
    </p>
    </li>
    {{/each}}
</script>
<script id="error-template" type="text/x-handlebars-template">
    <div class="error">
        <h3>There was an error loading <code>{{url}}</code>.</h3>
        <p>This may have several reasons but most probably <code>{{url}}</code> does not allow to be rendered in an <code>&lt;iframe&gt;</code>.</p>
        <p><a href="{{url}}" class="btn" target="_blank">Open <em>{{url}}</em> in new tab instead</a></p>
    </div>
</script>
{% endraw %}
